# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# CocoaPods / Carthage (just in case)
Pods/
Carthage/Build/
